.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.countryDetailsImg{
  width: 100px;
  }
  
  .countryDetailTd{
    width: 30%;
  }
  
  .countriesListDiv{
    max-height: 90vh; 
    overflow: scroll;
  }
  
  .linkACursor{
    cursor:pointer !important;
  }
  
  /* AL COUNTRY LIST COMPONENT CSS */
  .countriesListImage{
    width:80px;
  }
  
  .countryListA{
    display:flex !important;
    align-items:center;
    background-color: #ccecf5d5 !important;
  }
  
  .countryListA:hover{
    background-color: #a8ebfdd5 !important;
  }
  
  .p
  NoMargin{
    margin: 0 0 0 30px;
  }
  
  
